<div>
  <mat-expansion-panel hideToggle disabled>
    <mat-expansion-panel-header>
      <span class="template-titre">Liste des templates :</span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vente de produit
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          Exemple 1
        </mat-list-option>
        <mat-list-option>
          Exemple 2
        </mat-list-option>
        <mat-list-option>
          Exemple 3
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vente de coaching
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          Exemple 1
        </mat-list-option>
        <mat-list-option>
          Exemple 2
        </mat-list-option>
        <mat-list-option>
          Exemple 3
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vente de formation
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          Exemple 1
        </mat-list-option>
        <mat-list-option>
          Exemple 2
        </mat-list-option>
        <mat-list-option>
          Exemple 3
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Promotion
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          Exemple 1
        </mat-list-option>
        <mat-list-option>
          Exemple 2
        </mat-list-option>
        <mat-list-option>
          Exemple 3
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Newsletter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          Exemple 1
        </mat-list-option>
        <mat-list-option>
          Exemple 2
        </mat-list-option>
        <mat-list-option>
          Exemple 3
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Relance
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option>
          Exemple 1
        </mat-list-option>
        <mat-list-option>
          Exemple 2
        </mat-list-option>
        <mat-list-option>
          Exemple 3
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
