<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/accueil']">
    <mat-icon>fact_check</mat-icon>
    &nbsp;
    <span>Script <span class="styletitre">App</span></span>
  </button>
  <button mat-button [routerLink]="['/script']">
    <span class="styletitre">Générer une page de vente</span>
  </button>
  <button mat-button [routerLink]="['/accroche']">
    <span class="styletitre">Générer une accroche</span>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="login">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
