.title-center {
  margin: 0 auto;
  font-size: smaller;
  color: rgba(255, 255, 255, 0.747);
  span {
    color: rgb(255, 255, 255);
  }
}

.toolbar {
  height: 100px;
}
.image-logo {
  width: 100px;
}

