.conteneur {
  margin: 2%;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

button {
  margin-top: 30px;
}

.addUser {
  padding: 2%;
}

.getUser {
  padding: 2%;
}

table {
  width: 60%;
}
