<mat-drawer-container class="container">
  <!--
    <mat-drawer mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-drawer>
  -->
  <mat-drawer-content class="contenu-stepper">
    <mat-horizontal-stepper linear #stepper class="etape">
      <mat-step [stepControl]="modelForm">
        <ng-template matStepLabel>Formulaire</ng-template>
        <app-formulaire [modelForm]="modelForm"></app-formulaire>
      </mat-step>
      <mat-step [editable]="modelForm.valid">
        <ng-template matStepLabel>Edition</ng-template>
        <app-edition [modelForm]="modelForm"></app-edition>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Export</ng-template>
        <app-export [modelForm]="modelForm"></app-export>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-drawer-content>
</mat-drawer-container>
