.conteneur-global {
  display: flex;
  align-items: center;
  .resultat {
    width: 100%;
  }
}

.entete {
  padding-top: 2%;
  padding-left: 5%;
}

.tooltip-style {
  background: #000000bb;
  font-size: 11pt;
}

.mat-radio-button {
  margin-left: 16px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  height: 750px;
  width: 80%;
  overflow: scroll;
}

.mat-card {
  height: 350px;
  width: 700px;
  .mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    p {
      font-size: 18pt;
      color: rgb(106, 9, 218);
      font-weight: 500;
      letter-spacing: 0.5pt;
      text-align: center;
    }
    button {
      bottom: 15px;
    }
  }
  .mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 50%;
      height: 50px;
      font-size: 16pt;
    }
  }
}

.table-container {
  position: relative;
  height: 300px;
  overflow: auto;
  width: 740px;
  margin-top: 15px;
}

legend {
  color: rgba(0, 0, 0, 0.616);
}

table {
  width: 730px;
}

.element {
  margin-bottom: 55px;
  width: 100%;
  font-size: 11pt;
  h4 {
    font-size: 13pt;
  }
}

.hint-size {
  width: 100%;
}
.mat-form-field {
  width: 40%;
}

h4 {
  color: rgb(4, 73, 138);
}

hr {
  border-color: rgba(165, 157, 157, 0.212);
}

.spinner {
  position: absolute;
  right: 45%;
}
