<div class="conteneur-global">
  <div class="conteneur formulaire">
    <div>
      <h1>Générateur d'accroches</h1>
      <legend>Remplissez le formulaire puis générez des phrases d'accroches.</legend>
    </div>
    <form>
      <div class="element">
        <h4>1. Quel type de produit vendez-vous ?</h4>
        <mat-form-field appearance="fill">
          <mat-label>Type de produit</mat-label>
          <mat-select [(ngModel)]="reponse.reponse1" name="reponse1">
            <mat-option *ngFor="let produit of produits;" [value]="produit">
              {{produit.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="reponse.reponse1.viewValue === 'Autre'">
          <mat-form-field>
            <mat-label>Type de produit :</mat-label>
            <input matInput autocomplete="off" name="reponse1Value" [(ngModel)]="reponse.reponse1.value">
          </mat-form-field>
          <mat-radio-group aria-label="Select an option"  [(ngModel)]="reponse.reponse1.genre" name="reponse1Genre">
            <mat-radio-button [value]="false">Féminin</mat-radio-button>
            <mat-radio-button [value]="true">Masculin</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="element">
        <h4>2. A quoi sert votre produit ?</h4>
        <mat-form-field class="form-field-input">
          <mat-label>Ce produit va permettre de :</mat-label>
          <input matInput autocomplete="off" name="reponse2" [(ngModel)]="reponse.reponse2">
          <mat-hint class="hint-size"><strong>Exemple : Perdre 3 kilos par semaine, gagner des visiteurs sur son blog</strong></mat-hint>
        </mat-form-field>
      </div>

      <div class="element">
        <h4>3. Citez un avantage de type « Action » que va apporter votre produit</h4>
        <mat-form-field>
          <mat-label>Avec ce produit, vous pouvez :</mat-label>
          <input matInput
            matTooltip="Doit commencer par un verbe et s’adresser à « VOUS »"
            matTooltipClass="tooltip-style"
            matTooltipPosition="left"
            matTooltipHideDelay="1000"
            autocomplete="off"
            name="reponse3"
            [(ngModel)]="reponse.reponse3">
          <mat-hint class="hint-size"><strong>Exemple : Retrouver votre poids idéal, multiplier les visiteurs de votre blog par 3</strong></mat-hint>
        </mat-form-field>
      </div>

      <div class="element">
        <h4>3-Bis. Citez un (autre) avantage de type « Action »</h4>
        <mat-form-field>
          <mat-label>Avec ce produit, vous pouvez :</mat-label>
          <input matInput
            matTooltip="Doit commencer par un verbe et s’adresser à « EUX »"
            matTooltipClass="tooltip-style"
            matTooltipPosition="left"
            matTooltipHideDelay="1000"
            autocomplete="off"
            name="reponse3bis" [(ngModel)]="reponse.reponse3bis">
          <mat-hint class="hint-size"><strong>Exemple : Retrouver leur poids idéal, multiplier les visiteurs de leur blog par 3</strong></mat-hint>
        </mat-form-field>
      </div>

      <div class="element">
        <h4>4. Qui utilise votre produit ?</h4>
        <mat-form-field>
          <mat-label>Une seule réponse au pluriel :</mat-label>
          <input matInput autocomplete="off" name="reponse4" [(ngModel)]="reponse.reponse4">
          <mat-hint class="hint-size"><strong>Exemples : femmes, hommes, blogueurs, internautes, médecins</strong></mat-hint>
        </mat-form-field>
      </div>

      <div class="element">
        <h4>5. Citez un avantage de type « résultat » que va apporter votre produit :</h4>
        <mat-form-field>
          <mat-label>Si vous avez toujours voulu avoir :</mat-label>
          <input matInput autocomplete="off"  name="reponse5" [(ngModel)]="reponse.reponse5">
          <mat-hint class="hint-size"><strong>Exemples : un blog qui rapporte, un corps de rêve</strong></mat-hint>
        </mat-form-field>
      </div>

      <div class="element">
        <h4>6. Citez un problème que votre produit va résoudre :</h4>
        <mat-form-field>
          <mat-label>Si vous en avez marre de :</mat-label>
          <input matInput autocomplete="off" name="reponse6" [(ngModel)]="reponse.reponse6">
          <mat-hint class="hint-size"><strong>Exemples : perdre ses kilos en trop, manquer de visiteurs</strong></mat-hint>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="conteneur resultat">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Résultat</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <p>
          <span>"</span>{{ resultat }}<span>"</span>
        </p>
        <button mat-icon-button color="accent" class="hvr-icon-pop" (click)="addFavoriteAccroche(resultat)">
          <mat-icon class="hvr-icon">favorite_border</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="hvr-icon-spin" (click)="getAccroche()">Générer <mat-icon class="hvr-icon">settings</mat-icon></button>
      </mat-card-actions>
    </mat-card>
    <div class="table-container">
      <legend>Retrouvez ici vos accroches sauvegardées <mat-icon color="accent" style="font-size: 12pt;">favorite</mat-icon></legend>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSortDirection="desc">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="accroche">
          <th mat-header-cell *matHeaderCellDef> Accroche </th>
          <td mat-cell *matCellDef="let element">
            {{element.accroche}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
