.entete {
  padding: 2%;
}

.tooltip-style {
  background: #b71c1c;
}

.formulaire {
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 40%;
}

.button-fin {
  position: absolute;
  top: 40%;
  left: 45%;
  display: flex;
  flex-direction: column;
}

.clear-button {
  margin-top: 150px;
}

.resultat {
  position: absolute;
  top: 15%;
  left: 53%;
}

.textarea {
  height: 30vw;
  width: 40vw;
  padding: 3%;
  font-size: 12pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(4, 73, 138);
}

.element {
  margin-bottom: 55px;
  width: 100%;
  font-size: 11pt;
  h4 {
    font-size: 13pt;
  }
}

.table-reponse, td {
  width: 80% !important;
}

.hint-size {
  width: 100%;
}
.mat-form-field {
  width: 40%;
}

h4 {
  color: rgb(4, 73, 138);
}
