mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.separateur {
  color: rgba(72, 72, 243, 0.664);
  border: 1px solid;
  border-radius: 6px;
  padding: 1%;
  border-color: rgba(72, 72, 243, 0.664);
}
