.flex-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  z-index: 1000;
}

.contenu-page {
  height: 100%;
  overflow: scroll;
}

.footer {
  height: 40px;
}
