.zone-edition {
  margin: 1%;
  padding: 1%;
  width: 90%;
  height: 500px;
  border: 1px solid black;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.zone-edition:focus {
  border: 2px solid rgb(13, 177, 231);
}
