<h1 class="mat-h1 mat-headline">Bienvenue sur Script App</h1>
<div class="card-display">

  <mat-card class="card-accueil mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Page de vente</mat-card-title>
      <mat-card-subtitle>Génerer une page de vente parmis une <b>large</b> selection de model.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="button-card" >
      <button mat-raised-button color="accent" [routerLink]="['/script']">Génerer une page de vente 1499$</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-accueil mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Accroche</mat-card-title>
      <mat-card-subtitle>Génerer une phrase d'accroche aléatoirement.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="button-card">
      <button mat-raised-button color="accent" [routerLink]="['/accroche']">Génerer une phrase d'accroche 499$</button>
    </mat-card-content>
  </mat-card>
</div>

